<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="bootstrap-theme.min.css" />

    <script src="jquery.min.js" defer></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="bootstrap.min.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Serving up HTML</h1>
      </div>
    </div>
  </body>
</html>
